body { /* body style */
  font-family: 'Arial', sans-serif; /* Standard font-style */ 
  background-color: #909090;      /* Background color */
}

p { /* paragraphs: labels for input fields */
  margin-top: 0px;    /* remove spacing above input fields */
  margin-bottom: 1px; /* margin for label texts */
}

button { /* Buttons */
  padding: 10px 20px;           /* Padding, 10 top/bottom, 20 left/right */
  background-color: #004793;  /* button color */
  color: white;               /* text color */
  border-radius: 4px;           /* button border */
  cursor: pointer;              /* cursor type on hover */
  margin-bottom: 1px;
}

button:hover { /* Buttons hover */
  background-color: #002c5b; /* button color */
}

.calculatebutton{
  width: 160px;
}

#container { /* Content container */
  margin: auto;                             /* Dynamic margin adjust  */
  padding: 20px;                            /* Edge space of container */
  background-image: url('background.jpg');  /* background image */
  background-size: cover;                   /* Fills background */
  background-repeat: no-repeat;
  border-radius: 10px;                      /* Border */
  position: relative                        /* positions to flow of webapp */
}

#logo { /* logo */
  position: absolute; /* Fixed position on page */ 
  top: -5px;          /* Position, upper left corner */
  left: -5px;
  width: 120px;
  height: 120px;
}

#title { /* Title */
  text-align: center;               /* Center title */
  margin-bottom: 20px;              /* Title margin */
  color: #000000;                 /* text color */
  font-family: "Orbitron", serif;   /* text font */
  font-size: 36px;                  /* Font size */
  letter-spacing: 4px;              /* letter spacing */
  text-shadow: 1px 1px 3px black; /* title shadow */
}

#mapid { /* Box for map */
  width: 85%;                 /* Map width */
  height: 400px;              /* Map height */
  border: 2px black solid;  /* Map border */
  border-radius: 5px;         /* Border radius */
  margin: auto;               /* Dynamic margin */
  margin-bottom: 0px;         /* Bottom margin */
}


#checkbox { /* checkbox */
  margin: 5px;         /* margin */
  margin-right: 0px;  /* right margin */
  width: 20px;        /* checkbox width */
  height: 20px;       /* checkbox height */
  cursor: pointer;    /* cursor type on hover */ 
}

label, input[type="checkbox"] { /* checkbox, label alignment */
  vertical-align: middle; /* alignment */
}

.row{
  border: dotted darkslategrey 2px;
  margin: 10px auto auto auto;
  border-radius: 10px;
  padding: 10px 15px 5px 15px;
  width: 550px;
}

.row:after{ /* Row, clear flex and formating after row*/
  content: ""; 
  display:table;
  clear: both;
}

.column1 { /* Column, position specification */
  float: left; /* position left */ 
  width: 45%;  /* width of each column */
  margin-top: 10px;
}

.column2 { /* Column, position specification */
  float: left; /* position left */ 
  width: 45%;  /* width of each column */
  margin-top: 5px;
}

.latLong { /* Input fields in first column, static position */
  font-size: 13px;      /* font size */
  font-weight: bold;    /* font weight */
  color: darkgreen;   /* text color */
  margin-bottom: 10px;  /* margin bottom */
}

#filename-container { /* Container, filename and duration inputs, create file button */
  margin: 20px auto 20px auto;     /* Margin top */
  width: 430px;
}

#filename-input { /*In filename-container, filename input */
  margin-bottom: 7px;  /* Margin bottom */
  margin-top: 20px;
}

#duration-input { /*In filename-container, duration input */
  margin-bottom: 7px;  /* Margin bottom */
  width: 72px;          /* Fixed width */
}

#form-container { /* Container, dropdown menu, start/stop buttons */
  text-align: center;   /* Center texts */
  margin: 10px auto 0px auto;
  width: 360px;         /* fixed width */
  border: dotted darkslategrey 2px;
  border-radius: 10px;
  padding: 0px 5px 10px 5px;
}

.select { /* dropdown menu */
  margin-top: 10px;     /* margin top */
  margin-bottom: 10px;   /* margin bottom */
  width: 100px;         /* fixed width */
}

.startstop-container { /* container for start and stop values, respectively */
  width: 400px;         /* fixed width */
  margin: 7px 0 7px 0;  /* margin */
}

.startStop { /* start/stop value for motion, in startdiv & stopdiv */
  width: 100px;         /* fixed width */
  font-weight: bold;    /* font weight */
  margin: 0 3px 0 3px;  /* margin */
}

#speed { /* container */
  margin-top: 10px;  /* top margin */
}

.bottom-border{
  border-bottom: dotted darkslategrey 2px;
}

.bottom-border2{
  border-bottom: dotted darkslategrey 2px;
  margin-bottom: 10px;
}

@media screen and (max-width: 530px) { /*Style when screensize < 530px*/
  .column1{
    float: none;  /* change floating, vertical */
    margin-top: 10px; /* margin */
  }
  .column2{
    float: none;  /* change floating, vertical */
    margin-top: 10px; /* margin */
  }
  #title{         /* title */
    font-size: 6vw; /* dynamic size */
  }
  #logo{ /* logo*/
    top: 5px;       /* top alignment */
    left: 5px;      /* left alignment */
    width: 20vw;    /* dynamic width */
    height: 20vw;   /* dynamic height */
  }
  #filename-container{
    width: auto;
    margin: 10px auto 10px auto;
  }
  #form-container{
    padding: 0 5px 10px 5px;
    width:280px;
  }

  .row {
    padding: 10px 15px 5px 15px;
    width: auto;
  }
}
